@charset "UTF-8";

/* CSS Document */


/* ***************** 
/* ***** RESET ***** 
/* ***************** */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-weight: normal;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff;
    color: #1e1e1e;
}

/* ****************** 
/* ***** GLOBAL ***** 
/* ****************** */

.standard {
    padding: 90px 5%;
}
select::-ms-expand {
    display: none;
}
.clearfix {
    width: 100%;
    height: 0;
    clear: both;
}
.anchor {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
}

/* *************** 
/* ***** NAV ***** 
/* *************** */

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .4);
}
nav .nav-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
nav .mainlogo {
    width: 245px;
    display: inline-block;
    padding: 20px 0 0 0;
}
nav ul {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 63px;
    margin-left: 40px;
}
nav ul li {
    display: inline-block;
}
nav .sb-toggle-left {
    display: none;
    cursor: pointer;
}
nav ul li a {
    display: block;
    margin: 0 20px;
    padding: 3px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
nav ul li a:hover {
    color: #C1272C;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
nav ul li a.active {
    color: #C1272C;
    border-bottom: #C1272C solid 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.sb-slidebar ul {
    padding: 10px 5% 0 5%;
    list-style: none;
}
.sb-slidebar ul li a {
    display: block;
    margin: 28px 15px;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.sb-slidebar ul li a:hover {
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* ****************** 
/* ***** HEADER ***** 
/* ****************** */

header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header section {
    padding: 240px 5% 70px 5%;
}
header h1 {
    margin: 24px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    line-height: 90px;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
header h2,
header h3 {
    margin: 8px 0;
    font-size: 30px;
    line-height: 32px;
    word-wrap: break-word;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
header .purchase-button {
    display: inline-block;
    margin: 90px 0 30px 0;
    padding: 20px 40px 18px 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
header .purchase-button:hover {
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* ******************* 
/* ***** SUMMARY ***** 
/* ******************* 


/* ****************** 
/* ***** FOOTER ***** 
/* ****************** */

footer {
    padding: 45px 20px;
    text-align: center;
    color: #fff;
}
footer a {
    display: inline-block;
    padding: 0 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
footer a:hover {
    opacity: .5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* ************************** 
/* ***** RESPONSIVE 800 ***** 
/* ************************** */

@media screen and (max-width: 800px) {
    nav .mainlogo {
        width: 240px;
        margin: 12px;
    }
    nav ul {
        margin-left: 15px;
    }
}

/* ************************** 
/* ***** RESPONSIVE 767 ***** 
/* ************************** */

@media screen and (max-width: 767px) {
    .summary,
    .dateloc,
    .details-container,
    .details-container .details {
        display: block;
    }
    nav .sb-toggle-left {
        display: inline-block;
        vertical-align: top;
        margin-top: 35px;
    }
    nav ul {
        display: none;
    }
    nav .mainlogo {
        width: 200px;
    }
}

/* ************************** */


/* ***** RESPONSIVE 580 ***** */


/* ************************** */

@media screen and (max-width: 580px) {
    header section {
        padding: 120px 5% 35px 5%;
    }
    header h1 {
        font-size: 60px;
        line-height: 60px;
    }
    header h2,
    header h3 {
        font-size: 25px;
        line-height: 30px;
    }
    header .purchase-button {
        margin: 20px auto 40px auto;
    }
}

/* *************************** 
/* ********** FORM ********** 
/* *************************** */

.rsvp {
    margin: 40px 0px 30px 0;
    clear: both;
}
.cognito {
    background: transparent !important;
    text-align: center !important;
    color: white !important;
}
.cognito form {
    margin: 0 auto !important;
}
.cognito .c-field,
.cognito .c-section {
    width: 100% !important;
}
.cognito .c-forms-form .c-helptext {
    color: #fff !important;
}
.cognito .c-editor INPUT[type=text],
.cognito .c-editor INPUT[type=password],
.cognito .c-editor textarea,
.cognito .c-editor select {
    height: 40px !important;
}
.cognito .c-action {
    float: none;
}
.cognito .c-forms-form button {
    padding: .5em 1.25em;
    width: 280px;
    margin-top: 30px;
    font-family: "Futura Today DemiBold", sans-serif !important;
    font-size: 18px !important;
}
.cognito .c-forms-form .c-forms-not-available-message,
.cognito .c-forms-form .c-page-numbering,
.cognito .c-forms-form .c-forms-confirmation-message,
.cognito .c-forms-form #c-save-resume-content,
.cognito .c-forms-form .c-progress-section,
.cognito .c-forms-form .c-forms-payment-order-summary .detail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8125em;
    color: #fff !important;
}
.cognito #c-submit-button {
    position: relative;
    padding: 20px 0;
}
form {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 500px;
}
input {
    font-size: 18px;
    padding: 12px 16px;
    margin-bottom: 11px;
    width: 90%;
    max-width: 500px;
}
input[type=submit] {
    border: 0 none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
}
.mailbtn {
    color: #000;
    padding: 16px 13px;
    width: 200px;
    margin-top: 10px;
}
.mailbtn:hover {
    background: red;
}
.footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 40px 20px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 3px;
}
.footer a {
    color: gold;
}
